<html>
<body>
<table style="width:100%; background:#cef2e0; margin-top:1.2em; border:1px solid #ccc;">
<tr>
<td style="color:#000; text-align: center;">
<div style="font-size:162%; border:none; margin:0; padding:.1em; color:#000;">Position Report<br/> {{ current_date }} </div>
</td></tr></table>

<table style="width:100%; margin-top:1.2em; border:1px solid #ccc;">
{% for vessel in vessels %}
  <tr>
    <td><a href="mmsi/{{ vessel.userid }}">{{ vessel.userid }}</a></td>
    <td>{{ vessel.cg_timestamp }}</td>
    <td>{{ vessel.position }}</td>
  </tr>
{% endfor %}
</table>
</body>
</html>
