# -*- shell-script -*- for emacs

# Support.
include VERSION
include MANIFEST.in ChangeLog.html
include Makefile
include LICENSE README COPYING
include TODO
include doc/*

recursive-include noaadata Makefile *.py *.xml

include nmea/*.py

# extra stuff in ais:
include ais/*.xsl
include ais/*.xml 
include ais/*.wx.py
include ais/Makefile

include ais/*/*.xml 
include ais/*/*.html
include ais/*/*.wx.py
include ais/*/Makefile

# St. Lawrence Seaway messages
include ais/sls/*.xml 

# River Information System in Europe
include ais/ris/*.xml 

# Documentation and testing
include test/* ais/test/*
include ChangeLog.html

# Scripts
include *.bash */*.bash
include *.py
include scripts/*
include init.d/*

include data/*

# Extra stuff.  Less polished and project specific
include scraps/*

include aisutils/*.py
include test/*

